body {
  margin: 0;
}

.App {
  width: 1000px;
  margin: 10px auto;
  padding: 40px;
  background: #514785;
}

h1 {
  text-align: center;
  color: white;
}

p {
  font-size: 30px;
  color: white;
  text-align: center;
}

li {
  text-transform: uppercase;
  list-style-type: none;

  a {
    text-decoration: none;
    display: inline-block;
    color: white;
    padding: 20px 30px;
    margin: 10px 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }

  a:hover {
    background-position: right center;
  }
}

.scroll-inner {
  height: 600px;
  overflow-y: scroll;
}

.scroll-inner::-webkit-scrollbar {
  width: 10px;
}

.scroll-inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.scroll-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #514785;
}

.city-list {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
}

.event-list {
  ul {
    display: flex;
    flex-wrap: wrap;

    span {
      position: absolute;

    }
  }

}

.filter {
  display: flex;
  justify-content: flex-end;

  .filter-item {
    width: 190px;
  }

  input {
    padding: 5px;
    font-size: 18px;
    margin: 2px;
    background: #5144ef00;
    color: white;
  }
}

.venue {
  width: 666px;
  margin: auto;
  color: white;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  transition: 0.5s;
  padding: 13px;

  span {
    color: #00d500;
  }

  .description {
    max-height: 200px !important;
    width: 400px !important;
    overflow-y: scroll !important;
    display: block;
    margin: auto;
    font-size: 17px;
  }

  .description::-webkit-scrollbar {
    width: 10px;
  }

  .description::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  .description::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #514785;
  }

  a {
    font-size: 17px;
    color: aqua;
  }

  .venue-bottom {
    display: flex;
  }
}